@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --black: #121619;
  --cyan-bluish-gray: #abb8c3;
  --white: #FFFFFF;
  --vivid-red: #cf2e2e;
  --red: #98473E;
  --yellow: #A37C40;
  --gray: #6E8894;
}

body {
  /* margin: 0; */
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: var(--white);
  color: var(--black);
}

.text-vivid-red {
  color: var(--vivid-red);
}


.bg-vivid-red {
  background-color: var(--vivid-red);
}

.bg-vivid-red:hover {
  background-color: #a81f1f;
}

.bg-black {
  background-color: var(--black);
}

.text-black {
  color: var(--black);
}

.bg-white {
  background-color: var(--white);
}

.text-white {
  color: var(--white);
}

